/* html {
    user-select: none;
} */

.Container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 10px;
    max-width: 400px;
    margin: auto;
    background: rgb(167, 167, 167);
}

/* ============================== */

.InlineBox {
    width: 98%;
    display: inline-flex;
    justify-content: space-between;
    background: rgb(212, 29, 29);
}

.Title {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    line-height: 35px;
    font-family: 'Arial';
    color: rgb(66, 66, 66);
    font-size: 150%;
    background: rgb(211, 211, 211);
}

.AddButton {
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    color: rgb(66, 66, 66);
    font-size: 150%;
    background: rgb(231, 231, 231);
}

/* ============================== */

/* .list {
    width: 310px;
} */

.Input {
    flex-grow: 1;
    border: 1px solid #d0d1d1;
    /* width: 300px; */
    display: inline-flex;
    justify-content: space-between;
    background: rgb(240, 243, 240);
}

/* ============================== */

.Icon {
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    color: rgb(66, 66, 66);
    font-size: 150%;
    background: rgb(29, 212, 38);
    
}

.BookmarkText {

    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    background: rgb(29, 200, 212);
    
}

.BMLabel {
    height: 30px;
    background: rgb(116, 129, 141); 
}

.BMURL {
    height: 20px;
    background: rgb(182, 203, 206);
}

.Favourite {
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    color: rgb(252, 0, 0);
    font-size: 150%;
    background: rgb(29, 212, 38);
}
