html {
    user-select: none;
    font-family: 'Arial';
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    background: rgb(230, 230, 230);
}

/* ============================== */

.InlineBox {
    margin-top: 3px;
    width: 390px;
    display: inline-flex;
    background: rgb(212, 29, 29);
    /* border: 0.1px solid #ff1515; */
}

.Footer {
    text-align: center;
    height: 20px;
    font-weight: bold;
    font-family: 'Arial';
    color: rgb(66, 66, 66);
}

.Title {
    flex-grow: 1;
    text-align: left;
    font-weight: bold;
    line-height: 50px;
    padding-left: 50px;
    font-family: 'Arial';
    color: rgb(66, 66, 66);
    font-size: 150%;
    background: rgb(230, 230, 230);
}

.AddButton {
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    line-height: 50px;
    color: rgb(66, 66, 66);
    font-size: 200%;
    background: rgb(230, 230, 230);
}

/* ============================== */

.InputBox {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
}

.Input {
    background: rgb(245, 245, 245);
    margin: 15px;
    margin-left: 50px;
    border: none;
    border-bottom: .5px solid rgb(160, 160, 160);
}

/* ============================== */

.Icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: 'Arial';
    line-height: 60px;
    color: rgb(66, 66, 66);
    /* font-size: 200%; */
    background: rgb(245, 245, 245);
}

.BookmarkText {
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-end;
    background: rgb(41, 240, 230);
}

.BMLabel {
    font-weight: bold;
    font-family: 'Arial';
    line-height: 30px;
    height: 30px;
    background: rgb(245, 245, 245);
    color: rgb(66, 66, 66);
}

.BMURL {
    height: 20px;
    background: rgb(245, 245, 245);
    color: rgb(66, 66, 66);
}

.Favourite {
    cursor: pointer;
    width: 25px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Arial';
    line-height: 50px;
    color: rgb(252, 0, 0);
    background: rgb(245, 245, 245);
}

.NotFavourite {
    cursor: pointer;
    width: 25px;
    height: 50px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Arial';
    line-height: 50px;
    color: rgb(179, 179, 179);
    background: rgb(245, 245, 245);
}